<br/>
<br/>
 
 <br/>
 <form asp-action="Index" asp-controller="Comprar">
   <font color="black" size="20px" >Bebés, Niños y Niñas</font>
   <div style="size:60px;"><img  style="float:left;" src="~/images/ninos.png" alt="#"/>
   <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_584291_1228355" type="submit">Toddler Bottoms</button>
 <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228361" type="submit">Clothing Bodysuits</button>
  <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228372" type="submit">Clothing Hats & Accessories</button>
 <br/>
 <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228353" type="submit">Clothing Jackets & Outerwear</button>
 <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228362" type="submit">Clothing Outfit Sets</button>
 <button class="btn btn-primary" style="background-color:khaki;width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228364" type="submit">Clothing Sleepwea</button>
<br/>
 <button class="btn btn-primary" style="background-color:khaki;width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228371" type="submit">Clothing Socks & Booties</button>
 <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228354" type="submit">Toddler Clothing Sweaters</button>
 <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228366" type="submit">Clothing Tops & T-Shirts</button>
<br/>
 <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228370" type="submit">Underwear & Undershirts</button>
 <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228369" type="submit">Clothing Uniforms</button>
  <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_9951782" type="submit">Baby Layette</button>
 <br/>
 <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_584313" type="submit">Christening</button>
 <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_133202_1228785" type="submit">Girls' Bottoms</button>
  <button class="btn btn-primary" style="background-color:khaki; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_1228241_660679" type="submit">Scrubs</button>
</div>
<br style="clear: left;"/>
 <font color="black" size="20px" >Hombres</font>
<div style="size:60px;"><img  style="float:left;" src="~/images/hombre.png" alt="#"/> 
 <br/>
 <button class="btn btn-primary" style=" background-color:turquoise; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_1225572_1225578" type="submit">Hombres</button>
 <br/>
  <button class="btn btn-primary" style="background-color:turquoise; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133198_1228783" type="submit">Tall Bottoms</button>
 <br/>
 <button class="btn btn-primary" style="background-color:turquoise; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133198_538913" type="submit">Tall Jackets & Outerwear</button>
 <br/>
  <button class="btn btn-primary" style="background-color:turquoise; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133198_1224688" type="submit">Tall Sweaters</button>
 <br/>
 <button class="btn btn-primary" style="background-color:turquoise; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133198_1228782" type="submit">Tall Tops & T-Shirts</button>
 <br/>
 <button class="btn btn-primary" style=" background-color:turquoise; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133198_1228680" type="submit">Tall Suit Shop</button>
 </div>
 <br style="clear: left;"/>
  <font color="black" size="20px" >Niñas</font>
 <div style="size:60px;"><img  style="float:left;" src="~/images/solo_nina.png" alt="#"/> 

  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_584291_1228365" type="submit">Toddler Clothing Swimwear</button>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1231398_1450160" type="submit">Girls' Character Shop</button>
  <br/>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_133202_1218843" type="submit">Girls' Activewear</button>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133202_559973" type="submit">Girls' Bras & Underwear</button>
  <br/>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133202_1218844" type="submit">Girls' Dancewear</button>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133202_479119" type="submit">Girls' Dresses & Rompers</button>
  <br/>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_133202_418262" type="submit">Girls' Jackets & Outerwear</button>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133202_1009099" type="submit">Girls' Outfit Sets</button>
  <br/>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133202_416738" type="submit">Girls' Sleepwear</button>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133202_9135705" type="submit">Girls' Socks & Tights</button>
  <br/>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_133202_1218850" type="submit">Girls' Sweaters</button>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133202_163922" type="submit">Girls' Swimwear</button>
  <br/>
   <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_584291_1228352" type="submit">Toddler Clothing Dresses</button>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_133202_1228784" type="submit">Girls' Tops & T-Shirts</button>
<br/>
<button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133202_1218851" type="submit">Girls' Uniforms</button>
  <button class="btn btn-primary" style="background-color:salmon; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_1231398_1450160" type="submit">Girls' Character Shop</button>
 </div>
 <br style="clear: left;"/>
  <font color="black" size="20px" >Mujeres</font>
 <div style="size:60px;"><img  style="float:left;" src="~/images/mujer.png" alt="#"/> 
 <br/>
 <br/>
 <button class="btn btn-primary" style="background-color:crimson; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1231398_3384501" type="submit">Women's Character Shop</button>
<br/>
 <button class="btn btn-primary" style="background-color:crimson; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133162_538874" type="submit">Women's Dresses</button>
 <br/>
 <button class="btn btn-primary" style="background-color:crimson; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133162_163847" type="submit">Jackets & Outerwear</button>
 </div>
 <br style="clear: left;"/>
  <font color="black" size="20px" >Toda la familia</font>
 <div style="size:60px;"><img  style="float:left;" src="~/images/familia.png" alt="#"/> 
  <button class="btn btn-primary" style="background-color:limegreen; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1045799_426265" type="submit">Accessories/Accessories</button>
  <button class="btn btn-primary" style="background-color:limegreen; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1045799_1045801" type="submit">Backpacks &  Bags</button>
  <br/>
  <button class="btn btn-primary" style="background-color:limegreen; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1045799_1043856" type="submit">Briefcases</button>
  <button class="btn btn-primary" style="background-color:limegreen; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1045799_1045800" type="submit">Handbags</button>
  <br/>
  <button class="btn btn-primary" style="background-color:limegreen; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1045799_1043858" type="submit">Wallets</button>
  <button class="btn btn-primary" style="background-color:limegreen; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1231398_3443311" type="submit">Men's Character Shop</button>
   </div>
  <button class="btn btn-primary" style="background-color:limegreen; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1228241_1091625" type="submit">Professional Uniforms</button>
  <button class="btn btn-primary" style="background-color:limegreen; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1228241_1228706" type="submit">Protective Outerwear</button>
 <br/>
 <br/>

 <br/>
 <br style="clear: left;"/>
  <font color="black" size="20px" >Niños</font>
 <div style="size:60px;"><img  style="float:left;" src="~/images/solo_nino.png" alt="#"/> 
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133199_622239" type="submit">Boys' Activewear</button>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133199_1228787" type="submit">Boys' Bottoms</button>
 <br/>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_133199_532337" type="submit">Boys' Jackets & Outerwear</button>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133199_517093" type="submit">Boys' Outfit Sets</button>
 <br/>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133199_444554" type="submit">Boys' Sleepwear</button>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_133199_1208149" type="submit">Boys' Socks</button>
<br/>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133199_1199505" type="submit">Boys' Sweaters</button>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133199_163921" type="submit">Boys' Swimwear</button>
 <br/>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133199_1228786" type="submit">Boys' Tops & T-Shirts</button>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133199_1199507" type="submit">Underwear & Undershirts</button>
 <br/>
 <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_133199_1199509" type="submit">Boys' Uniforms</button>
  <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger"name="opcion" name="opcion" value="5438_1231398_8162550" type="submit">Baby Character Shop</button>
  <br/>
  <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_1231398_4213536" type="submit">Boys' Character Shop</button>
  <button class="btn btn-primary" style="background-color:orangered; width:200px; color:black;" class="btn btn-danger" name="opcion" name="opcion" value="5438_1231398_9207206" type="submit">Kids Character Shop</button>
  </div>
 

<br/>
 <br/>
 
  
 </form>